@layer reset, layout, transitions;

@layer transitions {
	:root {
		view-transition-name: none;
	}
	::view-transition {
		pointer-events: none;
	}

	::view-transition-group(*) {
		animation-duration: 2s;
	}
	.box {
		view-transition-name: box;
	}
}

@layer reset {
	html,
	body {
		height: 100%;
		margin: 0;
		padding: 0;
	}
	:is(ul, ol)[class] {
		list-style: none;
		margin: 0;
		padding: 0;

		& li {
			margin: 0;
			padding: 0;
		}
	}
}

@layer layout {
	.box {
		aspect-ratio: 1;
		inline-size: 20vmin;
		background: lightblue;
	}

	body {
		display: grid;
		place-content: center;
		padding: var(--size-5);
		gap: var(--size-5);
	}
}
