@layer reset, layout, components;

@keyframes adjust-info {
	to {
		grid-template-columns: 4em 1fr;
		gap: 1rem;
		height: 4.75rem;
	}
}
@keyframes shrink-name {
	to {
		font-size: 1.5rem;
	}
}
@keyframes add-shadow {
	to {
		box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.26);
	}
}
@keyframes move-button {
	to {
		translate: 0% 40%;
	}
}
@keyframes move-and-fade-background {
	to {
		translate: 0% -5%;
		scale: 0.96;
		opacity: 0.3;
	}
}

@supports (animation-timeline: scroll()) {
	.info {
		animation: adjust-info linear both;
	}
	.info h2 {
		animation: shrink-name linear both;
	}
	header {
		animation: add-shadow linear both;
	}
	#button-edit {
		animation: move-button linear both;
	}
	.bg {
		animation: move-and-fade-background linear both;
	}

	header {
		position: fixed;
		left: 0;
		right: 0;
	}

	.header-spacer {
		height: 190px;
	}

	.info,
	h2,
	header,
	#button-edit,
	.bg {
		animation-timeline: scroll();
		animation-range: 0 150px;
	}
}

@supports not (animation-timeline: scroll()) {
	header {
		box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.26);
	}
	.fake-header {
		display: none;
	}
}

@layer reset {
	:is(header, main, footer) *,
	body {
		margin: 0;
		padding: 0;
	}
	:is(header, main, footer) ul[class] {
		list-style: none;
	}
}

@layer layout {
	:is(header, main, footer) {
		font-family:
			system-ui,
			-apple-system,
			Segoe UI,
			Roboto,
			Ubuntu,
			Cantarell,
			Noto Sans,
			sans-serif,
			Segoe UI,
			Roboto,
			Ubuntu,
			Cantarell,
			Noto Sans,
			sans-serif;
	}
	header {
		position: sticky;
		top: 0;
		background: #fff;
		display: flex;
		flex-direction: column;
		z-index: 2;
	}

	main {
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: 1rem;
		padding: 2rem 0;
	}

	.col {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	footer {
		text-align: center;
		padding-bottom: 2rem;
	}

	.box {
		padding: 2rem;
		border-radius: 0.5rem;
		border: 1px solid #ccc;
		background: #fafafa;
	}

	.limited {
		width: 90vw;
		max-width: 1200px;
		margin: 0 auto;
		position: relative;
	}

	.bg {
		position: absolute;
		inset: 0;
		top: auto;
		height: 13rem;
		background:
			linear-gradient(to bottom, #fff6 0%, #fff 80%),
			url('img/vecteezy_cityscape-modern-flat-line-landscape-vector-city-landscape_6619652-2.jpg') repeat-x 50% 100% / 650px auto;
		z-index: -1;
	}

	:is(header, main) a:not(.button) {
		color: rgb(26, 115, 232);
		text-decoration: none;

		&:hover {
			color: navy;
		}
	}
}

@layer components {
	.info {
		display: grid;
		align-items: end;

		grid-template-columns: 8em 1fr;
		gap: 2rem;
		height: 12rem;
	}

	.info h2 {
		font-size: 2rem;
	}

	.avatar {
		border-radius: 50%;
		border: 0.3rem solid white;
		float: left;
		width: 100%;
		height: auto;
	}
	.meta {
		display: flex;
		flex-direction: row;
		gap: 0.75rem;
		font-style: italic;
		padding-bottom: 0.75rem;
		opacity: 0.8;
	}

	#button-edit {
		position: absolute;
		right: 1.5rem;
		bottom: 0;
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		color: #fff;
		text-decoration: none;
		background: rgb(26, 115, 232);
		display: grid;
		place-content: center;
		font-size: 1.5rem;

		&:hover {
			background: navy;
		}
	}

	@layer warning {
		.warning {
			box-sizing: border-box;
			padding: 2rem;
			border-radius: 0.5rem;
			margin: 0;
			border: 1px solid #ccc;
			background: rgba(255 255 205 / 0.8);
		}

		.warning > :first-child {
			margin-top: 0;
		}

		.warning > :last-child {
			margin-bottom: 0;
		}

		.warning a {
			color: blue;
		}
		.warning--info {
			border: 1px solid #123456;
			background: rgb(205 230 255 / 0.8);
		}
		.warning--alarm {
			border: 1px solid red;
			background: #ff000010;
		}

		@supports (animation-timeline: view()) {
			.warning:not([data-bug]) {
				display: none;
			}
		}

		@supports (animation-range: 0vh 90vh) {
			.warning[data-bug='1427062'] {
				display: none;
			}
		}
	}
}
