@layer reset, layout, transitions;

@layer transitions {
	:root {
		view-transition-name: none;
	}

	#item-1 {
		view-transition-name: item-1;
		.marker {
			view-transition-name: marker-1;
		}
		&:has(input:checked) {
			& h2 {
				view-transition-name: title-1;
			}
		}
		&:not(.item:has(input:checked)) {
			& .title {
				view-transition-name: title-1;
			}
		}
	}

	#item-2 {
		view-transition-name: item-2;
		.marker {
			view-transition-name: marker-2;
		}
		&:has(input:checked) {
			& h2 {
				view-transition-name: title-2;
			}
		}
		&:not(.item:has(input:checked)) {
			& .title {
				view-transition-name: title-2;
			}
		}
	}

	#item-3 {
		view-transition-name: item-3;
		.marker {
			view-transition-name: marker-3;
		}
		&:has(input:checked) {
			& h2 {
				view-transition-name: title-3;
			}
		}
		&:not(.item:has(input:checked)) {
			& .title {
				view-transition-name: title-3;
			}
		}
	}

	#item-4 {
		view-transition-name: item-4;
		.marker {
			view-transition-name: marker-4;
		}
		&:has(input:checked) {
			& h2 {
				view-transition-name: title-4;
			}
		}
		&:not(.item:has(input:checked)) {
			& .title {
				view-transition-name: title-4;
			}
		}
	}

	#item-5 {
		view-transition-name: item-5;
		.marker {
			view-transition-name: marker-5;
		}
		&:has(input:checked) {
			& h2 {
				view-transition-name: title-5;
			}
		}
		&:not(.item:has(input:checked)) {
			& .title {
				view-transition-name: title-5;
			}
		}
	}

	@keyframes rotate-marker {
		from {
			rotate: 90deg;
		}
		to {
			rotate: 270deg;
			opacity: 0;
		}
	}
	::view-transition-group(*) {
		animation-duration: 0.5s;
	}
	::view-transition-group(item-1),
	::view-transition-group(item-2),
	::view-transition-group(item-3),
	::view-transition-group(item-4),
	::view-transition-group(item-5) {
		overflow: hidden;
	}

	::view-transition-old(marker-1):only-child,
	::view-transition-old(marker-2):only-child,
	::view-transition-old(marker-3):only-child,
	::view-transition-old(marker-4):only-child,
	::view-transition-old(marker-5):only-child {
		animation-name: rotate-marker;
	}
	::view-transition-new(marker-1):only-child,
	::view-transition-new(marker-2):only-child,
	::view-transition-new(marker-3):only-child,
	::view-transition-new(marker-4):only-child,
	::view-transition-new(marker-5):only-child {
		animation-name: rotate-marker;
		animation-direction: reverse;
	}
}

@layer layout {
	@layer general {
		body {
			background: #efeae6;
			font-family: 'Google Sans', Roboto, Arial, sans-serif;
			padding-top: 3rem;
		}
		header,
		footer {
			text-align: center;
		}
		main {
			margin: 2em auto;
			width: 90%;
			max-width: 30em;
		}
	}
	@layer accordion {
		.accordion {
			display: grid;
			grid-auto-flow: row;
			gap: 0.5em;
			border-radius: 1em;
			overflow: hidden;
			font-size: 1.25em;
		}

		.item {
			background: #f8f6f2;

			display: flex;
			flex-direction: column;

			& input {
				position: absolute;
				opacity: 0;
			}

			& label {
				flex: 1;
				cursor: pointer;
				padding: 1em;

				display: flex;
				flex-direction: row;
				gap: 1em;
				justify-content: space-between;
			}

			.marker {
				display: grid;
				place-content: center;
				height: 1.5rem;
				aspect-ratio: 1;
				border-radius: 50%;
				background-color: #fff;
				color: #5f6368;

				font-weight: 700;
				font-size: 1.5em;
				line-height: 1;
				rotate: 90deg;
			}

			& div {
				padding: 1em;

				:first-child {
					margin-top: 0;
				}
				:last-child {
					margin-bottom: 0;
				}
			}
		}

		/* Show/Hide label/content based on input being checked or not */
		.item:has(input:checked) {
			& label {
				display: none;
			}
		}
		.item:not(.item:has(input:checked)) {
			& div {
				display: none;
			}
		}
	}
}

@layer reset {
	html,
	body {
		height: 100%;
		margin: 0;
		padding: 0;
	}
}
